<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= image_title %></title>
  </head>
  <body>
    <%- unless prev_link.empty? -%>
    <div class="pager"><a href="<%= prev_link %>">prev</a></div>
    <%- end -%>
    <div class="pager"><a href="index.html">top</a></div>
    <%- unless next_link.empty? -%>
    <div class="pager"><a href="<%= next_link %>">next</a></div>
    <%- end -%>   
    <hr />
    <%- image_src.size.times do |n| -%>
    <img src="./.images/<%= image_src[n] %>">
    <%- end -%>
    <hr />
    <%- unless prev_link.empty? -%>
    <div class="pager"><a href="<%= prev_link %>">prev</a></div>
    <%- end -%>
    <div class="pager"><a href="index.html">top</a></div>
    <%- unless next_link.empty? -%>
    <div class="pager"><a href="<%= next_link %>">next</a></div>
    <%- end -%>        
  </body>
</html>
